.board {
  background-color: var(--bgColor);
  height: 91vh;
}
.header-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7rem;
  margin-right: 6rem;
  margin-top: 8.2rem;
}

.header-board h2 {
  font-family: var(--fontFamily);
  font-weight: 700;
  font-size: 6.1rem;
}

#search-input {
  width: 25.1rem;
  height: 5.1rem;
  border-radius: 1rem;
  border: 1px solid var(--input-border);
}

#search-input:focus {
  outline: none;
}

#search-input:placeholder-shown {
  padding-left: 2.1rem;
}

.search-add-task button {
  border-radius: 1rem;
  background-color: var(--btnBackgroundColor);
  color: var(--bgColor);
  font-size: 2.1rem;
  padding: 1rem;
  border: none;
}

.search-add-task button:hover {
  background-color: var(--lightBlue);
  box-shadow: 0rem 0rem 1.4rem 0.3rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.search-add-task {
  display: flex;
  gap: 4.5rem;
}

.search {
  position: relative;
}

.search i {
  position: absolute;
  right: 0;
  font-size: 2rem;
  padding: 1.5rem;
  border-left: 1px solid var(--inputColor);
}

.board-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 7rem;
  margin-right: 6rem;
  margin-top: 8.2rem;
}

.board-header h3 {
  font-size: 2.1rem;
  font-weight: var(--weight7);
  color: var(--btnBackgroundColor);
}

.board-header .plus-button {
  background-image: url("assets/img/plus-button.svg");
  background-size: cover;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.board-header .plus-button:hover {
  background-image: url("assets/img/plus-hover.svg");
  transition: ease-in-out 225ms;
}

.prof-pic-board{
  display: flex;
}

.prof-pic-board img{
  flex:none;
  order:0;
  flex-grow:0;
  margin:0-0.6rem;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}

.board-card {
  min-width: 25rem;
  min-height: 23.9rem;
  padding: 1.8rem 1.9rem;
  background: #ffffff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.board-card h2 {
  max-width: 10.3rem;
  min-height: 2.7rem;
  background-color: var(--design);
  padding: 0.4rem 2.5rem;
  border-radius: 0.8rem;
  color: white;
  font-weight: 400;
}

.board-card h3 {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.board-card p {
  margin-top: 1rem;
  color: var(--inactive);
  font-size: 1.6rem;
  font-weight: 400;
}

.bar-count {
  height: 0.8rem;
  width: 13.8rem;
  background-color: var(--count-bar);
}

.show-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.bar-no {
  color: var(--black) !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  margin-top: 0 !important;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
