/* Contacts */
@media only screen and (max-width: 428px) {
  #contacts-container {
    position: absolute;
    top: 17rem;
    height: 74%;
  }

  #contacts-header {
    display: none;
  }

  #nav-contacts-container {
    margin-left: 0rem;
    display: flex;
    background-color: var(--white);
  }

  #contacts-list {
    width: 100%;
    overflow: auto;
  }

  #crud-contacts {
    position: absolute;
    top: -7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 3;
  }

  #render-contacts {
    width: 90%;
  }

  #new-contact {
    position: absolute;
    top: 10rem;
    right: 1rem;
  }

  #add-contact,
  #edit-contact {
    width: 38.1rem;
    height: 72.6rem;
    display: flex;
    flex-direction: column;
    left: 50%;
  }

  #add-header-container,
  #edit-header-container {
    width: 38.1rem;
    height: 35.1rem;
    border-radius: 2.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #add-header-container img,
  #edit-header-container img {
    display: none;
  }

  .add-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-header,
  .add-tasks,
  .add-divider,
  .edit-header,
  .edit-divider {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .add-header,
  .edit-header {
    font-size: 4.7rem;
  }

  .add-tasks {
    font-size: 2.1rem;
    margin-top: 1rem;
  }

  .add-divider,
  .edit-divider {
    align-self: flex-start;
    margin-top: 1rem;
  }

  #add-form-container,
  #edit-form-container {
    width: 38.1rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .add-form-close-img,
  .edit-form-close-img {
    top: -31.5rem;
    right: 2rem;
  }

  .add-form-user-img,
  .edit-form-user-img {
    top: -8rem;
    left: 12.5rem;
  }

  #add-form,
  #edit-form {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 32.7rem;
    height: 21.3rem;
    margin-top: 6rem;
  }

  #add-form-name,
  #add-form-email,
  #add-form-phone,
  #edit-form-name,
  #edit-form-email,
  #edit-form-phone {
    width: 32.7rem;
    height: 7.1rem;
  }

  #add-form-name div,
  #add-form-email div,
  #add-form-phone div,
  #edit-form-name div,
  #edit-form-email div,
  #edit-form-phone div {
    width: 32.7rem;
  }

  #add-buttons,
  #edit-buttons {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  #edit-buttons {
    justify-content: space-between;
  }

  #add-buttons-cancel {
    display: none;
  }

  #add-form-name input,
  #add-form-email input,
  #add-form-phone input {
    font-size: 1.8rem;
    width: 90%;
  }

  #contact-exist {
    margin-top: 1rem;
    position: relative;
    top: 0;
    right: 0;
  }

  @keyframes fadeInResponsive {
    0% {
      top: 150%;
    }
    100% {
      top: 50%;
    }
  }

  @keyframes fadeOutResponsive {
    0% {
      top: 50%;
    }
    100% {
      top: 150%;
    }
  }

  #contact-container {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 3.5rem;
    left: 3.3rem;
    right: 0;
    bottom: 0;
  }

  .user-contact-preview-info-mobile {
    width: 25.5rem;
    height: 1.9rem;
    font-size: 16px;
    font-style: normal;
    font-weight: var(--weight4);
    line-height: 120%;
  }

  .user-contact-preview-title-mobile {
    width: 36.4rem;
    height: 5.6rem;
    font-size: 47px;
    font-style: normal;
    font-weight: var(--weight7);
    line-height: 120%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.9rem;
  }

  .user-contact-preview-title-img-mobile {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
  }

  .user-contact-preview-title-team-mobile {
    width: 18.3rem;
    height: 2.5rem;
    font-size: 21px;
    font-style: normal;
    font-weight: var(--weight4);
    line-height: 120%;
    margin-top: 2rem;
  }

  .user-contact-preview-title-divider-mobile {
    width: 20%;
    height: 0.3rem;
    background-color: var(--lightBlue);
    margin-top: 3.2rem;
  }

  .user-contact-mobile {
    margin-top: 3.7rem;
    width: 30rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
  }

  .user-contact-init-mobile {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-contact-init-mobile p {
    font-size: 27px;
    font-style: normal;
    font-weight: var(--weight4);
    line-height: 120%;
    color: var(--white);
  }

  .user-contact-info-mobile {
    font-size: 36px;
    font-style: normal;
    font-weight: var(--weight4);
    line-height: 120%;
  }

  .user-contact-add-task-mobile {
    cursor: pointer;
  }

  .contact-information-header-mobile {
    margin-top: 2.1rem;
    font-size: 21px;
    font-style: normal;
    font-weight: var(--weight4);
    line-height: 120%;
  }

  .contact-email-phone-mobile {
    width: 14rem;
    height: 12.8rem;
    margin-top: 2.1rem;
  }

  .contact-email-mobile,
  .contact-phone-mobile {
    width: 14rem;
    height: 5.3rem;
  }
}
