/* Contacts */
@media only screen and (max-width: 428px) {
  #contacts-container {
    position: absolute;
    top: 17rem;
  }

  #contacts-header {
    display: none;
  }

  #nav-contacts-container {
    margin-left: 0rem;
    display: flex;
    background-color: var(--white);
  }

  #contacts-list {
    width: 100%;
    overflow: auto;
  }

  #crud-contacts {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }

  #render-contacts {
    width: 90%;
  }

  #new-contact {
    position: absolute;
    top: 10rem;
    right: 1rem;
  }

  #add-contact,
  #edit-contact {
    width: 38.1rem;
    height: 72.6rem;
    display: flex;
    flex-direction: column;
    left: 50%;
  }

  #add-header-container,
  #edit-header-container {
    width: 38.1rem;
    height: 35.1rem;
    border-radius: 2.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #add-header-container img,
  #edit-header-container img {
    display: none;
  }

  .add-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-header,
  .add-tasks,
  .add-divider,
  .edit-header,
  .edit-divider {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .add-header,
  .edit-header {
    font-size: 4.7rem;
  }

  .add-tasks {
    font-size: 2.1rem;
    margin-top: 1rem;
  }

  .add-divider,
  .edit-divider {
    align-self: flex-start;
    margin-top: 1rem;
  }

  #add-form-container,
  #edit-form-container {
    width: 38.1rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .add-form-close-img,
  .edit-form-close-img {
    top: -31.5rem;
    right: 2rem;
  }

  .add-form-user-img,
  .edit-form-user-img {
    top: -8rem;
    left: 12.5rem;
  }

  #add-form,
  #edit-form {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 32.7rem;
    height: 21.3rem;
    margin-top: 6rem;
  }

  #add-form-name,
  #add-form-email,
  #add-form-phone,
  #edit-form-name,
  #edit-form-email,
  #edit-form-phone {
    width: 32.7rem;
    height: 7.1rem;
  }

  #add-form-name div,
  #add-form-email div,
  #add-form-phone div,
  #edit-form-name div,
  #edit-form-email div,
  #edit-form-phone div {
    width: 32.7rem;
  }

  #add-buttons,
  #edit-buttons {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  #edit-buttons {
    justify-content: space-between;
  }

  #add-buttons-cancel {
    display: none;
  }

  #add-form-name input,
  #add-form-email input,
  #add-form-phone input {
    font-size: 1.8rem;
    width: 90%;
  }

  #contact-exist {
    margin-top: 1rem;
    position: relative;
    top: 0;
    right: 0;
  }

  @keyframes fadeInResponsive {
    0% {
      top: 150%;
    }
    100% {
      top: 50%;
    }
  }

  @keyframes fadeOutResponsive {
    0% {
      top: 50%;
    }
    100% {
      top: 150%;
    }
  }

  #contact-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
  }
}
