body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.first-mobile-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.first-mobile-greeting {
    display: flex;
    flex-direction: column;
}

.mobileTextgreeting {
    display: flex;
    font-size: 4rem;
    color: #2a3647;
}

.mobileNamegreeting {
    display: flex;
    font-size: 3.6rem;
    font-weight: bold;
    color: #29abe2;
}

@media (max-width: 500px) {

    .mobileTextgreeting {
        font-size: 3rem;
    }
    
    .mobileNamegreeting {
        font-size: 2.6rem;
    }

}

@media (max-width: 360px) {

    .mobileTextgreeting {
        font-size: 2rem;
    }
    
    .mobileNamegreeting {
        font-size: 1.6rem;
    }

}