body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.head {    
    background: white;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    padding-right: 36px;
    padding-left: 313px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    z-index: 101;
}

.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.Profile {
    cursor: pointer;
}