body {
    font-family: "Inter", sans-serif;
}

.right-help-Container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: 232px;
    margin-right: 80px;
    margin-top: 135px;
}

.right-Notiz {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.neben {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-px {
    padding-left: 30px;
    font-size: 20px;
}

.p-px1 {
    font-size: 20px;
}

.nummer {
    font-size: 3vh;
}

h1 {
    font-size: 5vh;
}

.h1-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.img-close {
    cursor: pointer;
}

.img-close:hover {
    transform: scale(1.08);  
    transition: all 150ms ease-in-out;
}



@media (max-width: 1000px) {

    .right-help-Container {
        margin-left: 0px;
    }

    .right-Notiz {
        margin-left: 50px;
    } 

    .p-px1 {
        font-size: 18px;
    }

    .p-px {
        font-size: 18px;
    }

}

@media (max-width: 580px) {
    .content {
        padding-bottom: 80px;
    }
}

@media (max-width: 375px) {

    .right-help-Container {
        padding-top: 53px;
    }

}