/* Global CSS variables; */
:root {
  --btnBackgroundColor: #2a3647;
  --inputColor: #d1d1d1;
  --inactive: #cdcdcd;
  --bgColor: #f6f7f8;
  --lightBlue: #29abe2;
  --black: #000000;
  --white: #ffffff;
  --design: #ff7a00;
  --media: #ffc701;
  --sales: #fc71ff;
  --backOffice: #1fd7c1;
  --marketing: #0038ff;
  --development: ##f44336;
  --contactOne: #0190e0;
  --contactTwo: #ee00d6;
  --contactThree: #02cf2f;
  --contactFour: #ffa800;
  --contactFive: #9327ff;
  --contactSix: #ff5c00;
  --contactSeven: #4e963d;
  --contactEight: #32daff;
  --contactNine: #007cee;
  --contactTen: #0223cf;
  --contactEleven: #cb02cf;
  --contactTwelve: #462f8a;
  --contactThirteen: #ffc700;
  --contactFourteen: #af1616;
  --weight1: 100;
  --weight2: 200;
  --weight3: 300;
  --weight4: 400;
  --weight5: 500;
  --weight6: 600;
  --weight7: 700;
  --weight8: 800;
  --weight9: 900;
  --fontFamily: "Inter", sans-serif;
}

/* Reset margin padding ...; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Remove underline from links; */
a {
  text-decoration: none;
}

/* Base font 62.5%; disable user selection; enable smooth scrolling behavior; */
html {
  font-size: 62.5%;
  user-select: none;
  scroll-behavior: smooth;
}

/* Body properties; */
body {
  height: 100vh; /* Set body height to 100% of viewport height */
  box-sizing: border-box; /* Use border-box model for sizing calculations */
  font-family: var(--fontFamily); /* Set font family using CSS variable */
  position: relative; /* Position body element relative to its normal position */
  background-color: var(
    --bgColor
  ); /* Set background color using CSS variable */
}

/* Onload JOIN start */

/* JOIN start image; */
#join-start-img {
  width: 27.4rem;
  height: 33.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    top: 14rem;
    left: 12.6rem;
    width: 10rem;
    height: 12.1rem;
    opacity: 1;
  }
}

/* JOIN logo; */
#join-img-small-fixed {
  width: 10rem;
  height: 12.1rem;
  position: absolute;
  top: 8rem;
  left: 7.7rem;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

/* Sign up container; */
#sign-up-container {
  width: 28.7rem;
  height: 5.1rem;
  position: absolute;
  top: 6.7rem;
  right: 11.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 2s ease-in-out forwards;
}

/* Sign up text; */
#sign-up-txt {
  font-size: 2.1rem;
  line-height: 2.5rem;
  font-weight: var(--weight4);
  color: var(--black);
}

/* Sign up btn; */
.btn {
  outline: none;
  border: unset;
  width: 9.1rem;
  height: 5.1rem;
  border-radius: 0.8rem;
  padding: 0.4rem 1.6rem 0.4rem 1.6rem;
  font-weight: var(--weight7);
  font-size: 1.6rem;
  line-height: 1.9rem;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--btnBackgroundColor);
  color: var(--white);
}

/* Sign up btn hover; */
.btn-blue:hover {
  background-color: var(--lightBlue);
  transition: all 125ms ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Onload JOIN end */

/* Login Container start */
.login-container {
  width: 65.2rem;
  height: 51.3rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
  border-radius: 3rem;
  box-shadow: 0rem 0rem 1.4rem 0.3rem rgba(0, 0, 0, 0.05);
  animation: fadeIn 2s ease-in-out forwards;
}

#signup-container {
  width: 65.2rem !important;
  height: 55.9rem !important;
}

#forgot-password-container {
  width: 82.6rem !important;
  height: 46.2rem !important;
  justify-content: space-evenly !important;
}

#forgot-password-info {
  width: 65.6rem;
  height: 5rem;
  font-weight: var(--weight4);
  font-size: 2.1rem;
  line-height: 120%;
  text-align: center;
}

.forgot-password-form {
  width: 42.2rem !important;
  height: 7.1rem !important;
}

#arrow-back {
  position: absolute;
  top: 3.5rem;
  left: 3.1rem;
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-header {
  width: 31.5rem;
  height: 9.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#login-header p {
  font-size: 6.1rem;
  font-weight: var(--weight7);
  line-height: 7.3rem;
}

.login-header {
  width: 62.6rem !important;
  height: 9.7rem !important;
}

#login-divider {
  width: 15rem;
  height: 0.3rem;
  background-color: var(--lightBlue);
}

#login-form {
  width: 42.2rem;
  height: 17.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup-form {
  width: 42.2rem !important;
  height: 27.1rem !important;
}

#login-email,
#login-password,
#login-user {
  width: 42.2rem;
  height: 5.1rem;
  border: unset;
  border: 0.1rem solid var(--inputColor);
  border-radius: 1rem;
  padding: 1.3rem 2.1rem;
  outline: none;
  display: flex;
  align-self: flex-start;
}

.login-email,
.login-password,
.login-user {
  width: 38rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-input {
  width: 100%;
  border: unset;
  outline: none;
  font-size: 2.1rem;
  font-weight: var(--weight4);
  line-height: 2.5rem;
}

.login-input::placeholder {
  color: var(--inputColor);
}

.login-form-img {
  width: 2rem;
  height: 1.8rem;
}

#login-options {
  width: 33.5rem;
  height: 1.9rem;
  display: flex;
  justify-content: space-between;
}

#login-remember {
  width: 14.6rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
}

#login-remember p {
  font-size: 1.6rem;
  font-weight: var(--weight4);
  line-height: 1.9rem;
}

#login-check-box {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 2rem;
}

#login-forgot-password p {
  font-size: 1.6rem;
  font-weight: var(--weight4);
  line-height: 1.9rem;
  color: var(--lightBlue);
  cursor: pointer;
}

#login-buttons {
  width: 34.1rem;
  height: 5.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login,
#signup,
#forgot-password {
  width: 14.5rem;
  height: 5.1rem;
  border: unset;
  padding: 0.4rem 0rem;
  border-radius: 0.8rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
  font-weight: var(--weight7);
}

#forgot-password {
  width: 26.4rem !important;
}

#guest-login {
  width: 16.1rem;
  height: 5.1rem;
  border: unset;
  border: 0.1rem solid var(--btnBackgroundColor);
  border-radius: 0.8rem;
  background-color: var(--white);
  color: var(--btnBackgroundColor);
  font-size: 2.1rem;
  font-weight: var(--weight7);
  line-height: 2.5rem;
}

#guest-login:hover {
  box-shadow: 0rem 0rem 1.4rem 0.3rem rgba(0, 0, 0, 0.2);
  color: var(--lightBlue);
  border: 0.1rem solid var(--lightBlue);
}

#login,
#signup,
#guest-login,
#arrow-back img {
  cursor: pointer;
}
/* Login Container end */
